<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <div class="header">
            <div class="first_header">
                <div class="logo">
                    <a href="/dashboard">
                        <img src="../static/IMG/logo.svg" alt="Logo Edullka">
                        <p>CodeCamp</p>
                    </a>
                </div>
                    <div class="profile">
                        <a href="/profile" class="profile_a">
                            <i class="fa fa-user icon-profile-1" aria-hidden="true"></i>
                            <p>
                                {{ user.first_name }} {{user.last_name}}
                            </p>
                        </a>
                        <a href="/logout">
                            <i class="fa fa-sign-out icon-logout-1" aria-hidden="true"></i>
                        </a>
                    </div>
            </div>
            <nav>
                <div class="new">
                    <form action="/search-tech-room" class="search" method="GET">
                        <input type="search" name="main_search_tech" class="search1">
                    </form>
                    <a href="/add-new-room" class="newGroup">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <p>Create a new room</p>
                    </a>
                    <a href="" class="buyMe">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <p>Buy me a coffee</p>
                    </a>
                </div>
            </nav>
        </div>
        
    </header>
    <main>
        <div class="cards">
            {% for i in  rooms%}
                <div class="cardGroup">
                    <div class="cardContent">
                        <div class="fogata">
                            <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                        </div>
                        <div class="cardContent_1">
                            <p class="cardContent_title">{{ i.name }}</p>
                            <p class="cardContentTech">{{ i.tech_name }} <em>{{ i.level }}</em></p>
                        </div>
                        <div class="optionsRoom">
                            {% if i.user_id == user.id %}
                                <a href="/edit/room/ID">Editar</a>
                                <a href="/delete/room/ID">Borrar</a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="/view-room-{{i.id}}" class="btn_group">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        <p>Join and Found Good Material Now!</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>