<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <div class="first_header">
                <div class="logo">
                    <a href="/">
                        <img src="../static/IMG/logo.svg" alt="Logo Edullka">
                        <p>CodeCamp</p>
                    </a>
                </div>
                <div class="accesos">
                    <a href="/login-view" class="signin">Sign in</a>
                    <a href="/register-view" class="register">Register</a>
                </div>
            </div>
            <nav>
                <div class="new">
                    <form action="#" class="search">
                        <input type="search" name="" id="" class="search1"
                        value="Search for techonology...">
                    </form>
                    <a href="#" class="newGroup">Create a new group</a>
                    <a href="" class="buyMe">Buy me a coffee</a>
                </div>
            </nav>
        </div>
        
    </header>
    <main>
        <div class="cards">
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">Join and Learn Code Now!</a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Algorithms and Data Structure</p>
                        <p class="cardContentTech">JavaScript <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">Join and Learn Code Now!</a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Face Recognition - Tensorflow 2.0</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">Join and Learn Code Now!</a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Simulation of Technical Interview</p>
                        <p class="cardContentTech">Python <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">Join and Learn Code Now!</a>
            </div>
        </div>
        
    </main>

</body>
</html>