<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <div class="header">
            <div class="first_header">
                <div class="logo">
                    <a href="/">
                        <img src="../static/IMG/logo.svg" alt="Logo Edullka">
                        <p>CodeCamp</p>
                    </a>
                </div>
                <div class="accesos">
                    <a href="/login-view" class="signin">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p>Sign in</p>
                    </a>
                    <a href="/register-view" class="register">Register</a>
                </div>
            </div>
            <nav>
                <div class="new">
                    <form action="#" class="search">
                        <input type="search" name="" id="" class="search1"
                        value="Search for techonology...">
                    </form>
                    <a href="#" class="newGroup">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <p>Create a new group</p>
                    </a>
                    <a href="" class="buyMe">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <p>Buy me a coffee</p>
                    </a>
                </div>
            </nav>
        </div>
        
    </header>
    <main>
        <div class="cards">
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <p>Join and Found Good Material Now!</p>
                </a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <p>Join and Found Good Material Now!</p>
                </a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <p>Join and Found Good Material Now!</p>
                </a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <p>Join and Found Good Material Now!</p>
                </a>
            </div>
            <div class="cardGroup">
                <div class="cardContent">
                    <div class="fogata">
                        <img src="../static/IMG/Fogata.svg" alt="icono_fogata">
                    </div>
                    <div class="cardContent_1">
                        <p class="cardContent_title">Deployment Flask Project</p>
                        <p class="cardContentTech">Flask <em>Any Level</em></p>
                    </div>
                </div>
                <a href="#" class="btn_group">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <p>Join and Found Good Material Now!</p>
                </a>
            </div>
        </div>
    </main>
</body>
</html>