<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="first_header">
                <div class="logo">
                    <a href="/dashboard">
                        <img src="../static/IMG/logo.svg" alt="Logo Edullka">
                        <p>CodeCamp</p>
                    </a>
                </div>
                    <div class="profile">
                        <a href="/profile" class="profile_a">
                            <i class="fa fa-user icon-profile-1" aria-hidden="true"></i>
                            <p>
                                {{ user.first_name }} {{user.last_name}}
                            </p>
                        </a>
                        <a href="/logout">
                            <i class="fa fa-sign-out icon-logout-1" aria-hidden="true"></i>
                        </a>
                    </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrp_main">
            <div class="wrp_left">
                <div class="wrp_left_title">
                    <div class="wrp_left_1">
                        <a href="/dashboard">
                            <i class="fa fa-arrow-left icon_arrow_left" aria-hidden="true"></i>
                        </a>
                        <p>{{ room_details.name }}</p>
                        <p id="room_tech_tag">({{  room_details.tech_name  }})</p>
                    </div>
                    <div class="wrp_left_2">
                        <p id="room_tech_created_at">
                            {{ room_details.created_at  }}
                        </p>
                    </div>
                </div>
                <div class="wrp_chat">
                    <div class="conversation">

                    </div>
                    <form action="" class="input_message">
                        <!-- Botón de Enviar -->
                        <input type="text" class="input_text_chat">
                        <button type="submit" class="icon_message_btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div class="wrp_right">
                <div class="wrp_right_title">
                    <p>Participants</p>
                    <p class="participans_joined">(4 Joined)</p>
                </div>
                <div class="wrp_online_people">
                    <div class="wrp_person">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Cristián Elias</p>
                    </div>
                    <div class="wrp_person">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Álvaro Sanchez</p>
                    </div>
                    <div class="wrp_person">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Raul Benecia</p>
                    </div>
                    <div class="wrp_person">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Jhomar Astuyauri</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>